<form method="post" action="/car_index">

<label for="model">Model:</label>
<input id="model" type="text" name="type"/>

<label for="rental_cost">Hire Cost per Day</label>
<input id="rental_cost" type="number" name="rental_cost"/>

<label for="status">Status:</label>
<input id="status" type="text" name="status"/>

<input type="submit" value="Add Car"/>


</form>
