<form method="post" action="/customer_index">

<label for="name">Name:</label>
<input id="name" type="text" name="name"/>

<label for="address">Address</label>
<input id="address" type="text" name="address"/>

<label for="phone_number">Phone Number</label>
<input id="phone_number" type="number" name="phone_number"/>

<input type="submit" value="Add Customer"/>


</form>
